.players {
    display: flex;
    flex-direction: row;

    align-items: flex-start;
    justify-content: space-evenly;

}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 150px;

    padding: .5rem;
}

.player > * {
    height: 40px;
    width: 100px;
    text-align: center;
}

.dying {
    box-sizing: border-box;
    -webkit-box-shadow:inset 0px 0px 0px 10px var(--clr-invalid-2);
    -moz-box-shadow:inset 0px 0px 0px 10px var(--clr-invalid-2);
    box-shadow:inset 0px 0px 0px 10px var(--clr-invalid-2);
}

.dead * {
    color: gray;
}

.valid {
    color: var(--clr-valid);
}

.invalid {
    color: var(--clr-invalid-1);
}

.used {
    color: yellow;
}

.player-game-status {
    font-size: 14px;
    height: 0;
    background-color: red;
}

.ready {
    color: green;
}

.waiting {
    color: yellow;
}