.phrase {
    font-size: 25px;
}

.room {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room-dne > * {
    margin: 10px;
}

.go-home-btn {
    text-decoration: underline;
}
