.game-ui {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    width: 200px;
}

.game-ui > * {
    margin: .5rem 0 0 0;
}

.self-guess {
    height: 40px;
    margin-top: 5rem;
}

.life-cnt {
    margin-top: 5rem;
    font-size: 12px;
}

.guess-form {
    margin: 0;
}

.guess-input {
    width: 100%;
}

.correct-part {
    color: var(--clr-purple);
}