.game-ui {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    /* margin: 1rem;
    padding: 1rem; */

    width: 200px;
}

.game-ui > * {
    margin: .5rem 0 0 0;
}

.last-guess {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.self-last-guess {
    height: 30px;
    align-items: flex-start;
    margin-top: 5rem;
}

.timer-container {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-bar {
    background-color: var(--clr-red);
    height: 1rem;
    width: 100%;
}

.life-cnt {
    margin-top: 5rem;
    font-size: 12px;
}

.guess-form {
    margin: 0;
}

.guess-input {
    width: 100%;
}