:root {
    --clr-dark: #201207;
    --clr-light: #FFF4DE;
    --clr-tan: #ecd098;
    --clr-darker-tan: #b58a47;
    --clr-bg: #A9CEE5;
    --clr-valid: #03B70F;
    --clr-invalid: #B70000;
}

* {
    box-sizing: border-box;
    color: var(--clr-dark);
    font-family: "Andika", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}

body {
    margin: 0;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root,
.game-root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav>*,
.nav-item {
    margin-top: 10px;
}

select {
    background-color: var(--clr-light);
}

main {
    position: relative;

    background-color: var(--clr-bg);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

button {
    background-color: var(--clr-light);
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
    font-size: 16px;
}

button:hover:not(:disabled) {
    background-color: var(--clr-tan);
    cursor: pointer;
}

button:disabled {
    background-color: color-mix(in srgb, var(--clr-light) 70%, gray 30%);
}

button:active:not(:disabled) {
    background-color: var(--clr-darker-tan);
}

input {
    border: 1px solid var(--clr-dark);
    background-color: var(--clr-light);
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
}

input:disabled {
    background-color: var(--clr-tan);
}