:root {
    --clr-1: #b45d3f;
    --clr-2: #dd8d4c;
    --clr-3: #e5d09d;
    --clr-4: #d2dddb;
    --clr-5: #b0cde3;
    --clr-6: #2e1710;
    --clr-valid: #06e642;
    --clr-invalid-1: #ff7b6a;
    --clr-invalid-2: #f81717;
}

* {
    box-sizing: border-box;
    color: var(--clr-6);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root,
.game-root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav > *,
.nav-item {
    margin-top: 10px;
}

select {
    background-color: var(--clr-3);
}

main {
    background-image: linear-gradient(var(--clr-5), var(--clr-5), var(--clr-4));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

button {
    background-color: var(--clr-3);
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--clr-2);
    font-size: 16px;
}

button:hover:not(:disabled) {
    background-color: var(--clr-2);
    cursor: pointer;
}

button:disabled {
    background-color: color-mix(in srgb, var(--clr-3) 70%, gray 30%);
}

button:active:not(:disabled) {
    background-color: var(--clr-1);
}

input {
    border: 1px solid var(--clr-1);
    background-color: var(--clr-3);
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
}

input:disabled {
    background-color: var(--clr-2);
}
