.ingame {
    /* height: 6rem; */
    justify-content: flex-end;
}

.last-guess {
    /* 1.2 * 16px +   */
    /* min-height: 24px; */
    min-height: 40px;
    background-color: var(--clr-1);
    padding: .5rem;
}
