.game-ui {
    display: flex;
    flex-direction: column;
    
    margin: 1rem;
    padding: 1rem;

    border: 1px solid black;
}

.game-ui > * {
    margin: .5rem 0 0 0;
}

.players {
    display: flex;
    flex-direction: row;

    align-items: flex-start;
    justify-content: space-evenly;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.valid {
    color: lime;
}

.invalid {
    color: red;
}

.used {
    color: yellow;
}
